# Global Covid-19 Data Analysis

In [1]:
# Key Questions to ask when analysing this data set
# Questions to ask for Q1
# Population density vs Total infections? (linear regression) 
# GDP/Poverty vs death rate, # Poverty vs infection rate 
# Random sample of HDI vs total cases and death rate

In [2]:
# Importing the relevant dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from citipy import citipy
import scipy.stats as st
import matplotlib
from datetime import datetime

In [3]:
# Opening the file and creating a DataFrame
raw_covid_19_data = pd.read_csv('..\Resources\owid-covid-data.csv')
raw_covid_19_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,ABW,North America,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,ABW,North America,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47111,NaN,NaN,International,2020-09-26,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47112,NaN,NaN,International,2020-09-27,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47113,NaN,NaN,International,2020-09-28,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47114,NaN,NaN,International,2020-09-29,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47115,NaN,NaN,International,2020-09-30,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Substituting NaN data with a zero integer
raw_covid_19_data = raw_covid_19_data.fillna(0)
raw_covid_19_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,0.000,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
1,ABW,North America,Aruba,2020-03-19,0.0,0.0,0.286,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
3,ABW,North America,Aruba,2020-03-21,0.0,0.0,0.286,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
4,ABW,North America,Aruba,2020-03-22,0.0,0.0,0.286,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47111,0,0,International,2020-09-26,696.0,0.0,0.000,7.0,0.0,0.0,...,0.000,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0
47112,0,0,International,2020-09-27,696.0,0.0,0.000,7.0,0.0,0.0,...,0.000,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0
47113,0,0,International,2020-09-28,696.0,0.0,0.000,7.0,0.0,0.0,...,0.000,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0
47114,0,0,International,2020-09-29,696.0,0.0,0.000,7.0,0.0,0.0,...,0.000,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0
47115,0,0,International,2020-09-30,696.0,0.0,0.000,7.0,0.0,0.0,...,0.000,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0

# Corrolation between population density and total cases

In [5]:
# Determining the global correlation between population density and total cases

In [6]:
# Data Cleanup to Answer first question
# Determining columns
raw_covid_19_data.columns

Index([&#39;iso_code&#39;, &#39;continent&#39;, &#39;location&#39;, &#39;date&#39;, &#39;total_cases&#39;, &#39;new_cases&#39;,
       &#39;new_cases_smoothed&#39;, &#39;total_deaths&#39;, &#39;new_deaths&#39;,
       &#39;new_deaths_smoothed&#39;, &#39;total_cases_per_million&#39;,
       &#39;new_cases_per_million&#39;, &#39;new_cases_smoothed_per_million&#39;,
       &#39;total_deaths_per_million&#39;, &#39;new_deaths_per_million&#39;,
       &#39;new_deaths_smoothed_per_million&#39;, &#39;new_tests&#39;, &#39;total_tests&#39;,
       &#39;total_tests_per_thousand&#39;, &#39;new_tests_per_thousand&#39;,
       &#39;new_tests_smoothed&#39;, &#39;new_tests_smoothed_per_thousand&#39;,
       &#39;tests_per_case&#39;, &#39;positive_rate&#39;, &#39;tests_units&#39;, &#39;stringency_index&#39;,
       &#39;population&#39;, &#39;population_density&#39;, &#39;median_age&#39;, &#39;aged_65_older&#39;,
       &#39;aged_70_older&#39;, &#39;gdp_per_capita&#39;, &#39;extreme_poverty&#39;,
       &#39;cardiovasc_death_rate&#39;, &#39;diabetes_prevalence&#39;, &#39;female_smokers&#39;,
       &#39;male_smokers&#39;, &#39;handwashing_facilities&#39;, &#39;hospital_beds_per_thousand&#39;,
       &#39;life_expectancy&#39;, &#39;human_development_index&#39;],
      dtype=&#39;object&#39;)

In [7]:
# ## Removing unnecessary columns
pop_density_cases = raw_covid_19_data.drop(columns=['iso_code','new_cases','new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index','continent'])

In [8]:
# Determining the number of Unique Countries
pop_density_cases['location'].unique()

array([&#39;Aruba&#39;, &#39;Afghanistan&#39;, &#39;Angola&#39;, &#39;Anguilla&#39;, &#39;Albania&#39;, &#39;Andorra&#39;,
       &#39;United Arab Emirates&#39;, &#39;Argentina&#39;, &#39;Armenia&#39;,
       &#39;Antigua and Barbuda&#39;, &#39;Australia&#39;, &#39;Austria&#39;, &#39;Azerbaijan&#39;,
       &#39;Burundi&#39;, &#39;Belgium&#39;, &#39;Benin&#39;, &#39;Bonaire Sint Eustatius and Saba&#39;,
       &#39;Burkina Faso&#39;, &#39;Bangladesh&#39;, &#39;Bulgaria&#39;, &#39;Bahrain&#39;, &#39;Bahamas&#39;,
       &#39;Bosnia and Herzegovina&#39;, &#39;Belarus&#39;, &#39;Belize&#39;, &#39;Bermuda&#39;,
       &#39;Bolivia&#39;, &#39;Brazil&#39;, &#39;Barbados&#39;, &#39;Brunei&#39;, &#39;Bhutan&#39;, &#39;Botswana&#39;,
       &#39;Central African Republic&#39;, &#39;Canada&#39;, &#39;Switzerland&#39;, &#39;Chile&#39;,
       &#39;China&#39;, &quot;Cote d&#39;Ivoire&quot;, &#39;Cameroon&#39;,
       &#39;Democratic Republic of Congo&#39;, &#39;Congo&#39;, &#39;Colombia&#39;, &#39;Comoros&#39;,
       &#39;Cape Verde&#39;, &#39;Costa Rica&#39;, &#39;Cuba&#39;, &#39;Curacao&#39;, &#39;Cayman Islands&#39;,
       &#39;Cyprus&#39;, &#39;Czech Republic&#39;, &#39;Germany&#39;, &#39;Djibouti&#39;, &#39;Dominica&#39;,
       &#39;Denmark&#39;, &#39;Dominican Republic&#39;, &#39;Algeria&#39;, &#39;Ecuador&#39;, &#39;Egypt&#39;,
       &#39;Eritrea&#39;, &#39;Western Sahara&#39;, &#39;Spain&#39;, &#39;Estonia&#39;, &#39;Ethiopia&#39;,
       &#39;Finland&#39;, &#39;Fiji&#39;, &#39;Falkland Islands&#39;, &#39;France&#39;, &#39;Faeroe Islands&#39;,
       &#39;Gabon&#39;, &#39;United Kingdom&#39;, &#39;Georgia&#39;, &#39;Guernsey&#39;, &#39;Ghana&#39;,
       &#39;Gibraltar&#39;, &#39;Guinea&#39;, &#39;Gambia&#39;, &#39;Guinea-Bissau&#39;,
       &#39;Equatorial Guinea&#39;, &#39;Greece&#39;, &#39;Grenada&#39;, &#39;Greenland&#39;, &#39;Guatemala&#39;,
       &#39;Guam&#39;, &#39;Guyana&#39;, &#39;Hong Kong&#39;, &#39;Honduras&#39;, &#39;Croatia&#39;, &#39;Haiti&#39;,
       &#39;Hungary&#39;, &#39;Indonesia&#39;, &#39;Isle of Man&#39;, &#39;India&#39;, &#39;Ireland&#39;, &#39;Iran&#39;,
       &#39;Iraq&#39;, &#39;Iceland&#39;, &#39;Israel&#39;, &#39;Italy&#39;, &#39;Jamaica&#39;, &#39;Jersey&#39;,
       &#39;Jordan&#39;, &#39;Japan&#39;, &#39;Kazakhstan&#39;, &#39;Kenya&#39;, &#39;Kyrgyzstan&#39;, &#39;Cambodia&#39;,
       &#39;Saint Kitts and Nevis&#39;, &#39;South Korea&#39;, &#39;Kuwait&#39;, &#39;Laos&#39;,
       &#39;Lebanon&#39;, &#39;Liberia&#39;, &#39;Libya&#39;, &#39;Saint Lucia&#39;, &#39;Liechtenstein&#39;,
       &#39;Sri Lanka&#39;, &#39;Lesotho&#39;, &#39;Lithuania&#39;, &#39;Luxembourg&#39;, &#39;Latvia&#39;,
       &#39;Morocco&#39;, &#39;Monaco&#39;, &#39;Moldova&#39;, &#39;Madagascar&#39;, &#39;Maldives&#39;, &#39;Mexico&#39;,
       &#39;Macedonia&#39;, &#39;Mali&#39;, &#39;Malta&#39;, &#39;Myanmar&#39;, &#39;Montenegro&#39;, &#39;Mongolia&#39;,
       &#39;Northern Mariana Islands&#39;, &#39;Mozambique&#39;, &#39;Mauritania&#39;,
       &#39;Montserrat&#39;, &#39;Mauritius&#39;, &#39;Malawi&#39;, &#39;Malaysia&#39;, &#39;Namibia&#39;,
       &#39;New Caledonia&#39;, &#39;Niger&#39;, &#39;Nigeria&#39;, &#39;Nicaragua&#39;, &#39;Netherlands&#39;,
       &#39;Norway&#39;, &#39;Nepal&#39;, &#39;New Zealand&#39;, &#39;Oman&#39;, &#39;Pakistan&#39;, &#39;Panama&#39;,
       &#39;Peru&#39;, &#39;Philippines&#39;, &#39;Papua New Guinea&#39;, &#39;Poland&#39;, &#39;Puerto Rico&#39;,
       &#39;Portugal&#39;, &#39;Paraguay&#39;, &#39;Palestine&#39;, &#39;French Polynesia&#39;, &#39;Qatar&#39;,
       &#39;Romania&#39;, &#39;Russia&#39;, &#39;Rwanda&#39;, &#39;Saudi Arabia&#39;, &#39;Sudan&#39;, &#39;Senegal&#39;,
       &#39;Singapore&#39;, &#39;Sierra Leone&#39;, &#39;El Salvador&#39;, &#39;San Marino&#39;,
       &#39;Somalia&#39;, &#39;Serbia&#39;, &#39;South Sudan&#39;, &#39;Sao Tome and Principe&#39;,
       &#39;Suriname&#39;, &#39;Slovakia&#39;, &#39;Slovenia&#39;, &#39;Sweden&#39;, &#39;Swaziland&#39;,
       &#39;Sint Maarten (Dutch part)&#39;, &#39;Seychelles&#39;, &#39;Syria&#39;,
       &#39;Turks and Caicos Islands&#39;, &#39;Chad&#39;, &#39;Togo&#39;, &#39;Thailand&#39;,
       &#39;Tajikistan&#39;, &#39;Timor&#39;, &#39;Trinidad and Tobago&#39;, &#39;Tunisia&#39;, &#39;Turkey&#39;,
       &#39;Taiwan&#39;, &#39;Tanzania&#39;, &#39;Uganda&#39;, &#39;Ukraine&#39;, &#39;Uruguay&#39;,
       &#39;United States&#39;, &#39;Uzbekistan&#39;, &#39;Vatican&#39;,
       &#39;Saint Vincent and the Grenadines&#39;, &#39;Venezuela&#39;,
       &#39;British Virgin Islands&#39;, &#39;United States Virgin Islands&#39;,
       &#39;Vietnam&#39;, &#39;Kosovo&#39;, &#39;Yemen&#39;, &#39;South Africa&#39;, &#39;Zambia&#39;, &#39;Zimbabwe&#39;,
       &#39;World&#39;, &#39;International&#39;], dtype=object)

In [9]:
# Dropping World and International Data from this frame
pop_density_cases = pop_density_cases[(pop_density_cases['location']!='International') & (pop_density_cases['location']!='World')]
pop_density_cases

       location        date  total_cases  population_density
0         Aruba  2020-03-13          2.0             584.800
1         Aruba  2020-03-19          0.0             584.800
2         Aruba  2020-03-20          4.0             584.800
3         Aruba  2020-03-21          0.0             584.800
4         Aruba  2020-03-22          0.0             584.800
...         ...         ...          ...                 ...
46561  Zimbabwe  2020-09-26       7787.0              42.729
46562  Zimbabwe  2020-09-27       7803.0              42.729
46563  Zimbabwe  2020-09-28       7812.0              42.729
46564  Zimbabwe  2020-09-29       7816.0              42.729
46565  Zimbabwe  2020-09-30       7837.0              42.729

[46566 rows x 4 columns]

In [10]:
# Filtering out the data to determine the latest reported number of cases in each country
pop_density_cases = pop_density_cases.drop_duplicates('location',keep='last')
pop_density_cases

           location        date  total_cases  population_density
196           Aruba  2020-09-30       3934.0             584.800
471     Afghanistan  2020-09-30      39254.0              54.422
664          Angola  2020-09-30       4905.0              23.890
852        Anguilla  2020-09-30          3.0               0.000
1058        Albania  2020-09-30      13518.0             104.871
...             ...         ...          ...                 ...
45764        Kosovo  2020-09-30      15574.0             168.155
45938         Yemen  2020-09-30       2035.0              53.508
46175  South Africa  2020-09-30     672572.0              46.754
46371        Zambia  2020-09-30      14715.0              22.995
46565      Zimbabwe  2020-09-30       7837.0              42.729

[210 rows x 4 columns]

In [15]:
# Sorting Values based on population density
pop_density_cases = pop_density_cases.sort_values('population_density',ascending=True).reset_index
pop_density_cases.index.name = None
pop_density_cases

AttributeError: &#39;function&#39; object has no attribute &#39;index&#39;