In [1]:
# Importing Modules
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Reading the CSV File
raw_data_cv19 = pd.read_csv('Resources\owid-covid-data.csv')

In [10]:
# Reading the Raw Data Frame and sampling 10
raw_data_cv19.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,0.000,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
1,ABW,North America,Aruba,2020-03-19,0.0,0.0,0.286,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
3,ABW,North America,Aruba,2020-03-21,0.0,0.0,0.286,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
4,ABW,North America,Aruba,2020-03-22,0.0,0.0,0.286,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0

In [4]:
# Replacing all the NaN to zero
raw_data_cv19 = raw_data_cv19.fillna(0)
raw_data_cv19.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,0.000,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
1,ABW,North America,Aruba,2020-03-19,0.0,0.0,0.286,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
3,ABW,North America,Aruba,2020-03-21,0.0,0.0,0.286,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0
4,ABW,North America,Aruba,2020-03-22,0.0,0.0,0.286,0.0,0.0,0.0,...,35973.781,0.0,0.0,11.62,0.0,0.0,0.0,0.0,76.29,0.0

In [5]:
# Quick Perusal of US Data Frame
us_raw_data = raw_data_cv19[raw_data_cv19['location']=='United States']
us_raw_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
43836,USA,North America,United States,2019-12-31,0.0,0.0,0.000,0.0,0.0,0.000,...,54225.446,1.2,151.089,10.79,19.1,24.6,0.0,2.77,78.86,0.924
43837,USA,North America,United States,2020-01-01,0.0,0.0,0.000,0.0,0.0,0.000,...,54225.446,1.2,151.089,10.79,19.1,24.6,0.0,2.77,78.86,0.924
43838,USA,North America,United States,2020-01-02,0.0,0.0,0.000,0.0,0.0,0.000,...,54225.446,1.2,151.089,10.79,19.1,24.6,0.0,2.77,78.86,0.924
43839,USA,North America,United States,2020-01-03,0.0,0.0,0.000,0.0,0.0,0.000,...,54225.446,1.2,151.089,10.79,19.1,24.6,0.0,2.77,78.86,0.924
43840,USA,North America,United States,2020-01-04,0.0,0.0,0.000,0.0,0.0,0.000,...,54225.446,1.2,151.089,10.79,19.1,24.6,0.0,2.77,78.86,0.924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44106,USA,North America,United States,2020-09-26,7033430.0,55013.0,44109.000,203774.0,964.0,740.714,...,54225.446,1.2,151.089,10.79,19.1,24.6,0.0,2.77,78.86,0.924
44107,USA,North America,United States,2020-09-27,7078798.0,45368.0,44833.714,204497.0,723.0,748.429,...,54225.446,1.2,151.089,10.79,19.1,24.6,0.0,2.77,78.86,0.924
44108,USA,North America,United States,2020-09-28,7115046.0,36248.0,44318.857,204756.0,259.0,749.571,...,54225.446,1.2,151.089,10.79,19.1,24.6,0.0,2.77,78.86,0.924
44109,USA,North America,United States,2020-09-29,7148044.0,32998.0,41439.571,205070.0,314.0,741.286,...,54225.446,1.2,151.089,10.79,19.1,24.6,0.0,2.77,78.86,0.924
44110,USA,North America,United States,2020-09-30,7191061.0,43017.0,42112.429,205998.0,928.0,741.571,...,54225.446,1.2,151.089,10.79,19.1,24.6,0.0,2.77,78.86,0.924

In [6]:
# Checking Column names
raw_data_cv19.columns

Index([&#39;iso_code&#39;, &#39;continent&#39;, &#39;location&#39;, &#39;date&#39;, &#39;total_cases&#39;, &#39;new_cases&#39;,
       &#39;new_cases_smoothed&#39;, &#39;total_deaths&#39;, &#39;new_deaths&#39;,
       &#39;new_deaths_smoothed&#39;, &#39;total_cases_per_million&#39;,
       &#39;new_cases_per_million&#39;, &#39;new_cases_smoothed_per_million&#39;,
       &#39;total_deaths_per_million&#39;, &#39;new_deaths_per_million&#39;,
       &#39;new_deaths_smoothed_per_million&#39;, &#39;new_tests&#39;, &#39;total_tests&#39;,
       &#39;total_tests_per_thousand&#39;, &#39;new_tests_per_thousand&#39;,
       &#39;new_tests_smoothed&#39;, &#39;new_tests_smoothed_per_thousand&#39;,
       &#39;tests_per_case&#39;, &#39;positive_rate&#39;, &#39;tests_units&#39;, &#39;stringency_index&#39;,
       &#39;population&#39;, &#39;population_density&#39;, &#39;median_age&#39;, &#39;aged_65_older&#39;,
       &#39;aged_70_older&#39;, &#39;gdp_per_capita&#39;, &#39;extreme_poverty&#39;,
       &#39;cardiovasc_death_rate&#39;, &#39;diabetes_prevalence&#39;, &#39;female_smokers&#39;,
       &#39;male_smokers&#39;, &#39;handwashing_facilities&#39;, &#39;hospital_beds_per_thousand&#39;,
       &#39;life_expectancy&#39;, &#39;human_development_index&#39;],
      dtype=&#39;object&#39;)

# Question 2 Data Frame

In [7]:
# Columns to drop for pre-existing health factors
q2_data_frame = raw_data_cv19.drop(columns=['iso_code','date','new_cases_smoothed','new_deaths_smoothed','new_cases_smoothed_per_million','new_deaths_smoothed_per_million','new_tests', 'total_tests', 'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case','tests_units', 'stringency_index','extreme_poverty','population_density','handwashing_facilities', 'hospital_beds_per_thousand',])

# Taking the last row to indicate the last reported case
q2_data_frame = q2_data_frame.drop_duplicates(subset=['location'],keep='last')

q2_data_frame.to_csv('Cleaned_Data\q2_data.csv')

q2_data_frame

,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,...,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,human_development_index
196,North America,Aruba,3934.0,62.0,26.0,1.0,36846.936,580.709,243.523,9.366,...,41.2,13.085,7.452,35973.781,0.000,11.62,0.000,0.000,76.29,0.000
471,Asia,Afghanistan,39254.0,15.0,1458.0,2.0,1008.366,0.385,37.453,0.051,...,18.6,2.581,1.337,1803.987,597.029,9.59,0.000,0.000,64.83,0.498
664,Africa,Angola,4905.0,108.0,179.0,3.0,149.241,3.286,5.446,0.091,...,16.8,2.405,1.362,5819.495,276.045,3.94,0.000,0.000,61.15,0.581
852,North America,Anguilla,3.0,0.0,0.0,0.0,199.973,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.00,0.000,0.000,81.88,0.000
1058,Europe,Albania,13518.0,127.0,384.0,4.0,4697.338,44.131,133.435,1.390,...,38.0,13.188,8.643,11803.431,304.195,10.08,7.100,51.200,78.57,0.785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46175,Africa,South Africa,672572.0,903.0,16667.0,81.0,11340.193,15.225,281.021,1.366,...,27.3,5.344,3.053,12294.876,200.380,5.52,8.100,33.200,64.13,0.699
46371,Africa,Zambia,14715.0,55.0,332.0,0.0,800.426,2.992,18.059,0.000,...,17.7,2.480,1.542,3689.251,234.499,3.94,3.100,24.700,63.89,0.588
46565,Africa,Zimbabwe,7837.0,21.0,228.0,0.0,527.285,1.413,15.340,0.000,...,19.6,2.822,1.882,1899.775,307.846,1.82,1.600,30.700,61.49,0.535
46840,0,World,33714595.0,277930.0,1008932.0,6027.0,4325.268,35.656,129.437,0.773,...,30.9,8.696,5.355,15469.207,233.070,8.51,6.434,34.635,72.58,0.000
47115,0,International,696.0,0.0,7.0,0.0,0.000,0.000,0.000,0.000,...,0.0,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.00,0.000

# Question 1 Data Frame

In [13]:
raw_data_cv19.columns

Index([&#39;iso_code&#39;, &#39;continent&#39;, &#39;location&#39;, &#39;date&#39;, &#39;total_cases&#39;, &#39;new_cases&#39;,
       &#39;new_cases_smoothed&#39;, &#39;total_deaths&#39;, &#39;new_deaths&#39;,
       &#39;new_deaths_smoothed&#39;, &#39;total_cases_per_million&#39;,
       &#39;new_cases_per_million&#39;, &#39;new_cases_smoothed_per_million&#39;,
       &#39;total_deaths_per_million&#39;, &#39;new_deaths_per_million&#39;,
       &#39;new_deaths_smoothed_per_million&#39;, &#39;new_tests&#39;, &#39;total_tests&#39;,
       &#39;total_tests_per_thousand&#39;, &#39;new_tests_per_thousand&#39;,
       &#39;new_tests_smoothed&#39;, &#39;new_tests_smoothed_per_thousand&#39;,
       &#39;tests_per_case&#39;, &#39;positive_rate&#39;, &#39;tests_units&#39;, &#39;stringency_index&#39;,
       &#39;population&#39;, &#39;population_density&#39;, &#39;median_age&#39;, &#39;aged_65_older&#39;,
       &#39;aged_70_older&#39;, &#39;gdp_per_capita&#39;, &#39;extreme_poverty&#39;,
       &#39;cardiovasc_death_rate&#39;, &#39;diabetes_prevalence&#39;, &#39;female_smokers&#39;,
       &#39;male_smokers&#39;, &#39;handwashing_facilities&#39;, &#39;hospital_beds_per_thousand&#39;,
       &#39;life_expectancy&#39;, &#39;human_development_index&#39;],
      dtype=&#39;object&#39;)

In [15]:
q1_data_frame = raw_data_cv19.drop(columns=['iso_code','date','new_cases',
       'new_cases_smoothed', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million','new_tests','total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand','positive_rate', 'tests_units','cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers','life_expectancy'])
q1_data_frame = q1_data_frame.drop_duplicates(subset=['location'],keep='last')
q1_data_frame.to_csv('Cleaned_Data\q1_data.csv')
q1_data_frame

,continent,location,total_cases,total_deaths,total_tests,tests_per_case,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,handwashing_facilities,hospital_beds_per_thousand,human_development_index
196,North America,Aruba,3934.0,26.0,0.0,0.0,0.0,1.067660e+05,584.800,41.2,13.085,7.452,35973.781,0.0,0.000,0.000,0.000
471,Asia,Afghanistan,39254.0,1458.0,0.0,0.0,0.0,3.892834e+07,54.422,18.6,2.581,1.337,1803.987,0.0,37.746,0.500,0.498
664,Africa,Angola,4905.0,179.0,0.0,0.0,0.0,3.286627e+07,23.890,16.8,2.405,1.362,5819.495,0.0,26.664,0.000,0.581
852,North America,Anguilla,3.0,0.0,0.0,0.0,0.0,1.500200e+04,0.000,0.0,0.000,0.000,0.000,0.0,0.000,0.000,0.000
1058,Europe,Albania,13518.0,384.0,0.0,0.0,0.0,2.877800e+06,104.871,38.0,13.188,8.643,11803.431,1.1,0.000,2.890,0.785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46175,Africa,South Africa,672572.0,16667.0,0.0,0.0,0.0,5.930869e+07,46.754,27.3,5.344,3.053,12294.876,18.9,43.993,2.320,0.699
46371,Africa,Zambia,14715.0,332.0,0.0,0.0,0.0,1.838396e+07,22.995,17.7,2.480,1.542,3689.251,57.5,13.938,2.000,0.588
46565,Africa,Zimbabwe,7837.0,228.0,0.0,0.0,0.0,1.486293e+07,42.729,19.6,2.822,1.882,1899.775,21.4,36.791,1.700,0.535
46840,0,World,33714595.0,1008932.0,0.0,0.0,0.0,7.794799e+09,58.045,30.9,8.696,5.355,15469.207,10.0,60.130,2.705,0.000
47115,0,International,696.0,7.0,0.0,0.0,0.0,0.000000e+00,0.000,0.0,0.000,0.000,0.000,0.0,0.000,0.000,0.000

In [30]:
## Plotting countries on GDP
continent_group = q1_data_frame.sort_values(by='gdp_per_capita',ascending=False)
continent_group

,continent,location,total_cases,total_deaths,total_tests,tests_per_case,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,handwashing_facilities,hospital_beds_per_thousand,human_development_index
36174,Asia,Qatar,125533.0,214.0,0.0,0.0,0.0,2881060.0,227.322,31.9,1.307,0.617,116935.600,0.0,0.000,1.20,0.856
26752,Europe,Luxembourg,8431.0,124.0,0.0,0.0,0.0,625976.0,231.447,39.7,14.312,9.842,94277.965,0.2,0.000,4.51,0.904
37829,Asia,Singapore,57742.0,27.0,0.0,0.0,0.0,5850343.0,7915.731,42.4,12.922,7.049,85535.383,0.0,0.000,2.40,0.932
6740,Asia,Brunei,146.0,3.0,0.0,0.0,0.0,437483.0,81.347,32.4,4.591,2.382,71809.251,0.0,0.000,2.70,0.853
20633,Europe,Ireland,35740.0,1803.0,0.0,0.0,0.0,4937796.0,69.874,38.7,13.928,8.678,67335.293,0.2,0.000,2.96,0.938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41126,North America,Turks and Caicos Islands,686.0,6.0,0.0,0.0,0.0,38718.0,37.312,0.0,0.000,0.000,0.000,0.0,0.000,0.00,0.000
10130,North America,Cuba,5531.0,122.0,0.0,0.0,0.0,11326616.0,110.408,43.1,14.738,9.719,0.000,0.0,85.198,5.20,0.777
18509,Oceania,Guam,2443.0,47.0,0.0,0.0,0.0,168783.0,304.128,31.4,9.551,5.493,0.000,0.0,0.000,0.00,0.000
18113,North America,Greenland,14.0,0.0,0.0,0.0,0.0,56772.0,0.137,0.0,0.000,0.000,0.000,0.0,0.000,0.00,0.000
47115,0,International,696.0,7.0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,0.000,0.000,0.0,0.000,0.00,0.000